:root {
    --background-color: #192B33;
    --blue-color: #31C3BD;
    --secondary-blue-color: #223441;
    --gray-color: #A9BDC8;
    --secondary-gray-color: #BCCDD4;
    --orange-color: #F2B137;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: "Alexandria", sans-serif;
}

h6 {
    font-size: 0.75rem; /* Adjust as needed */
}

a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Keeps the link color consistent with the surrounding text */
}

.x-label {
    color: var(--blue-color);
}

.o-label {
    color: var(--orange-color);
}

/* Header */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the items */
    margin-top: 20px;
    gap: 200px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
/*    border: 2px solid gray;*/
}

.title-container h2:nth-of-type(1), .title-container h2:nth-of-type(3) {
    color: var(--blue-color);
    margin: 0;
}

.title-container h2:nth-of-type(2) {
    color: var(--orange-color);
    margin: 0;
}

.turn-tracker-container {
    width: 150px; /* Button width */
    height: 50px; /* Button height */
    background-color: var(--background-color); /* Button color */
    color: var(--gray-color); /* Text color */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px; /* Add space between the icon and the text */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Darker shadow effect */
    padding: 0; /* Ensure no extra padding */
}

.turn-tracker-label {
    font-size: 2rem;
    font-weight: 500;
}

.turn-tracker-text, .turn-tracker-label {
    margin: 0; /* Remove any margin on the text */
}

.restart-button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center;
    background-color: var(--gray-color);
}

.restart-button i {
    font-size: 2rem;
}

.restart-button:hover {
    background-color: var(--secondary-gray-color);
}

/* Buttons Grid */
.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 125px); /* 3 columns, each 100px wide */
    grid-gap: 20px; /* Space between buttons */
    justify-content: center;
    margin: 100px;
}

.grid-button {
    width: 125px; /* Button width */
    height: 125px; /* Button height to make it square */
    background-color: var(--background-color); /* Button color */
    border: 2px solid gray;
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7); /* Darker shadow effect */
}

.grid-button:hover {
    background-color: var(--secondary-blue-color); /* Darker color on hover */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 1.2); /* Darker shadow on hover */
}

.grid-button h1 {
    font-size: 4rem;
    font-weight: 500;
}

/* Score Boxes */
.score-box {
    display: flex; /* Enable Flexbox on the score-box */
    flex-direction: column; /* Stack the h6 and h2 vertically */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    text-align: center;
    width: 250px;
    height: 75px;
    border-radius: 10px;
}

.score-box h6, .score-box h2 {
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.score-box h2 {
    font-weight: 700;
}

.score-box-container {
    display: flex; /* Use Flexbox to align items horizontally */
    justify-content: center; /* Center the boxes horizontally */
    gap: 20px; /* Add spacing between the boxes */
    padding: 20px;
}

.score-box:nth-of-type(1) {
    background-color: var(--blue-color);
}

.score-box:nth-of-type(2) {
    background-color: var(--gray-color);
}

.score-box:nth-of-type(3) {
    background-color: var(--orange-color);
}