:root {
    --background-color: #192B33;
    --blue-color: #31C3BD;
    --gray-color: #A9BDC8;
    --orange-color: #F2B137;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    margin-bottom: 60px;
}

h6 {
    font-size: 0.75rem; /* Adjust as needed */
}

/* Container to hold the boxes */
.score-box-container {
    display: flex; /* Use Flexbox to align items horizontally */
    justify-content: center; /* Center the boxes horizontally */
    gap: 20px; /* Add spacing between the boxes */
    padding: 20px;
}

/* Style for each box */
.score-box {
    padding: 7px;
    text-align: center;
    width: 250px;
    height: 75px;
    border-radius: 10px;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.score-box:nth-of-type(1) {
    background-color: var(--blue-color);
}

.score-box:nth-of-type(2) {
    background-color: var(--gray-color);
}

.score-box:nth-of-type(3) {
    background-color: var(--orange-color);
}

.score-num {
    font-weight: 700;
}