@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<!DOCTYPE html>
<html>
<body>
    <div class="button-grid">
        <button class="grid-button">
            <h1 class="x-label">X</h1>
        </button>
        <button class="grid-button">
            <h1 class="o-label">O</h1>
        </button>
        <button class="grid-button">
            <h1 class="o-label">O</h1>
        </button>
        <button class="grid-button">
            <h1 class="x-label">X</h1>
        </button>
        <button class="grid-button">
            <h1 class="o-label">O</h1>
        </button>
        <button class="grid-button">
            <h1 class="x-label">X</h1>
        </button>
        <button class="grid-button">
            <h1 class="o-label">O</h1>
        </button>
        <button class="grid-button">
            <h1 class="o-label">O</h1>
        </button>
        <button class="grid-button">
            <h1 class="x-label">X</h1>
        </button>
    </div>

    <div class="score-box-container">
        <div class="score-box">
            <h6>PLAYER X</h6>
            <h2>14</h2>
        </div>
        <div class="score-box">
            <h6>TIES</h6>
            <h2>3</h2>
        </div>
        <div class="score-box">
            <h6>PLAYER O</h6>
            <h2>1</h2>
        </div>
    </div>
</body>
</html>
